$bg: #f3f5f9;
$fg: #1e2123;
$grey1: #555;
$grey2: #888;
$fs: 10px;
$head_h: 150px;

body {
  font-family: 'Roboto', sans-serif;
}

#container {
  position: absolute;
  top: 0; bottom: 0; left: 0; right: 0;
  background-color: $bg;
  padding: 30px;

  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

#dots {
  z-index: 1;
  position: absolute; top: 0; left: 0;
}

#dots > .dot {
  cursor: pointer;
  position: absolute;
  top: -100px; left: -100px;
  width: 16px; height: 16px;
  border-radius: 16px;
  box-shadow: 0 0 0 0 #fff;
  background-color: rgba(0,0,0,0);
  opacity: 1;
  transform: translate(-8px, -8px);
  transition: background-color .3s, box-shadow .3s;
}

#dots:hover > .dot {
  background-color: rgba(0,0,0,.15);
}

#dots > .dot:hover {
  background-color: rgba(0,0,0,.4);
  box-shadow: 0 0 0 3px #fff;
}

#svg {
  position: absolute;
  top: $head_h; right: 330px; left: 30px; bottom: 60px;
  overflow: visible;


  > svg {
    display: block;
    margin: 0 auto;
    overflow: visible;
  }
}

h1 {
  font-size: $fs * 3.8;
  color: $grey2;
  font-weight: 100;
  margin: 0;
  letter-spacing: 0.05em;
}

#header {
  height: $head_h;
}


#canvas {
  position: absolute;
  top: -10000px; left: -10000px;
}

#menu {
  position: absolute;
  top: 0; right: 0; width: 300px; bottom: 0;
  background-color: #eeeef1;

  p {
    padding: 0px 10px 5px 20px;

    label {
      display: inline-block;
      font-size: 12px;
      min-width: 120px;
      color: $grey2;

      &.checkbox {
        line-height: 30px;
        > * { display: inline-block; vertical-align: middle;}
      }

      &.fileinput { margin-bottom: 10px;}
    }

    input[type="number"] {
      padding: 5px;
      width: 100px;

      &[type="file"] {
        width: auto;
      }
    }

    select {
      padding: 5px;
      width: 115px;
    }
  }

  hr {
    margin: 20px;
    border: none;
    border-top: 1px solid #ddd;
  }
}



#preview {
  width: 150px;
  max-width: 150px;
}