body {
  font-family: 'Roboto', sans-serif; }

#container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #f3f5f9;
  padding: 30px;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; }

#dots {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0; }

#dots > .dot {
  cursor: pointer;
  position: absolute;
  top: -100px;
  left: -100px;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  background-color: #000;
  opacity: 0;
  margin-left: -10px;
  margin-top: -10px;
  transition: opacity .5s; }

#dots:hover > .dot {
  opacity: .1; }

#dots > .dot:hover {
  opacity: .3; }

#svg {
  position: absolute;
  top: 150px;
  right: 330px;
  left: 30px;
  bottom: 60px;
  overflow: visible; }
  #svg > svg {
    display: block;
    margin: 0 auto;
    overflow: visible; }

h1 {
  font-size: 38px;
  color: #888888;
  font-weight: 100;
  margin: 0;
  letter-spacing: 0.05em; }

#header {
  height: 150px; }

#canvas {
  position: absolute;
  top: -10000px;
  left: -10000px; }

#menu {
  position: absolute;
  top: 0;
  right: 0;
  width: 300px;
  bottom: 0;
  background-color: #eeeef1; }
  #menu p {
    padding: 0px 10px 5px 20px; }
    #menu p label {
      display: inline-block;
      font-size: 12px;
      min-width: 120px;
      color: #888888; }
      #menu p label.checkbox {
        line-height: 30px; }
        #menu p label.checkbox > * {
          display: inline-block;
          vertical-align: middle; }
      #menu p label.fileinput {
        margin-bottom: 10px; }
    #menu p input[type="number"] {
      padding: 5px;
      width: 100px; }
      #menu p input[type="number"][type="file"] {
        width: auto; }
  #menu hr {
    margin: 20px;
    border: none;
    border-top: 1px solid #ddd; }

#preview {
  width: 150px;
  max-width: 150px; }
